<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student-DataManage</title>
    <!-- fontawesome cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
    <!-- Data-Table-CSS -->
    <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <!-- bootstrap cdn link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,300&family=Roboto+Condensed&family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <!-- custom css -->
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    




    <%- body %> 






    <!-- jquery-cdn-link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!-- Data-Table-js -->
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <!-- bootstrap cdn js -->
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- custom-js -->
    <script>
        // Data-Table
        $('.Sstudent_table').DataTable();

        // Image-Preview
        if(user_photo_upload){
            const user_photo_upload = document.querySelector('#user_photo_upload');
            const preview_img = document.querySelector('#preview_img');

            user_photo_upload.onchange = (e) => {

                const ImgUrl = URL.createObjectURL(e.target.files[0]);
                preview_img.setAttribute('src', ImgUrl);

            };
        };


        // Delete Data Alert.
        const delete_btn = document.querySelectorAll('.delete_btn');
        
        if(delete_btn){
                delete_btn.forEach( item => {
                item.onclick = (e) => {
                    const confirmationAlert = confirm(' Are you Sure ? ');
                    if(confirmationAlert){
                        return true;
                    }else{
                        return false;
                    };
                };
            });
        };

    </script>
</body>
</html>