
.Sstudent_table tr{
    vertical-align: middle;
}

.Sstudent_table tr img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
}

.user_form label img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
}


#user_photo_upload{
    display: none;
}

#preview_img{
    max-width: 100%;
}