<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card sahdow">
                <div class="card-body">
                    <div class="single_content text-center">
                        <h2><%= singleStudent.name %> </h2>
                        <img style="width: 250px; height: 250px; object-fit: cover; border-radius: 50%;" src="/images/userPhoto/<%= singleStudent.photo %>" alt="">
                        <p>Email : <%= singleStudent.email %></p>
                        <p>Cell : <%= singleStudent.cell %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>